<link href="/css/404.css" rel="stylesheet" />
<script src='/js/404.js' type="text/javascript"></script>


<div class="error"><%=error.cod %></div>
<br /><br />
<span class="info"><%=error.mensagem %></span>
