* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
.config{
    background: #5fa1db4b;
    height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;
    position:absolute;
    top:0;
    z-index: 1;
}
.container  {
    background: #FFFFFF;
    height: 70%;
    width: 60%;
    position:relative;
    top:10%;
    z-index: 2;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 0px solid #000000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.titulo{

    font-size: 25px;
    font-style: italic;
    font-weight: bold;  
    font-family: Brush Script MT, Brush Script Std, cursive;
   text-shadow: 1px 3px 4px #5fa1db;
   left:20;


}
.container-options{
  z-index: 3;
  position: absolute;
  left: 20%;
  top:10;
}
.container-form-dados-pessoais{
  z-index: 1;
  position: relative;
  left: 12%;
  top:16%;
  width: 85%;
  border:0.1px #00000052 solid;
  padding: 10px;
  border-radius: 22px 22px 22px 22px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
}

.titulo-dados-pessoais{
  z-index: 4;
  position: absolute;
  left: 14%;
  top: 13%;
  -webkit-text-fill-color: transparent;
  background: #212121;
  /* background: #56aaf3; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1px 18px 1px 18px ;
width: 170px;
text-align: center;

}

.badge-Secondary {
  color: black;
}
.config-menu {
    background: transparent;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    /* top: 13%; */
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width 0.05s linear;
    transition: width 0.05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 2;
  }
  
.config-menu > ul {
    margin: 7px 0;
  }
  
  .config-menu li {
    position: relative;
    display: block;
    width: 250px;
  }
  
  .config-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  
  .config-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }
  
  .config-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: "Titillium Web", sans-serif;
  }
  .config-menu > ul{
    position: absolute;
    left: 0;
    bottom: 50%;
  }
  .config-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .no-touch .scrollable.hover {
    overflow-y: hidden;
  }
  
  .no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
  }
  
  .config-menu li:hover > a, nav.config-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
  }
  .area{
    background-image: url("../img/full-bloom.png");
    width: 100%;
    height: 100%; 
  
    }
  .title-menu{
    background-image: -moz-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: -webkit-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: -o-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: -ms-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position:relative;font-size:1.2em;font-family: 'Yantramanav', sans-serif;font-weight:900;text-align: center;
z-index: 10000;

  }




  @font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 300;
    src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff");
  }

:focus{outline: none;}
.col-form{float: left; width: 27.33%; margin: 40px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.input-form{border: 0; padding: 5px 4px 7px; border: 1px solid transparent; border-bottom-color: #ccc; transition: 0.4s;border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;}
.input-formfocus{padding: 5px 14px 7px; transition: 0.4s;}
.input-form ~ .focus-border{position: absolute; height: 36px; bottom: 0; right: 0; width: 0; transition: 0.4s;}
.input-form:focus ~ .focus-border{width: 100%; transition: 0.4s; border: 2px solid #5fa1db;
  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;}
