* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

.box  {
    background: #FFFFFF;
    height: 10%;
    width: 100%;
    position:absolute;
    z-index: 2;
    border: 0px solid #000000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:40%;

}


.container-options{
  z-index: 3;
  position: absolute;
}
.container-form-dados-pessoais{
  z-index: 1;
  position: relative;
  width: 100%;
  border:0.1px #00000052 solid;
  border-radius: 22px 22px 22px 22px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
}


.config-menu {
    background: transparent;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width 0.05s linear;
    transition: width 0.05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 2;
  }

  
  .title-menu{
    background-image: -moz-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: -webkit-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: -o-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: -ms-linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
background-image: linear-gradient(top,#b8b0af 0%,#f2ecea 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position:absolute;
font-size:1em;
font-family: 'Yantramanav', sans-serif;
font-weight:900;
z-index: 10000;
    width: 172px;
    margin-top:6px;
    margin-left:100px;

  }

  .title-menu-item{
    background-image: -moz-linear-gradient(top,#6abbba 0%,#d5e7ee 100%);
background-image: -webkit-linear-gradient(top,#6abbba 0%,#d5e7ee 100%);
background-image: -o-linear-gradient(top,#6abbba 0%,#d5e7ee 100%);
background-image: -ms-linear-gradient(top,#6abbba 0%,#d5e7ee 100%);
background-image: linear-gradient(top,#6abbba 0%,#d5e7ee 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position:absolute;
font-size:1em;
font-family: 'Yantramanav', sans-serif;
font-weight:900;
z-index: 10000;
    width: 257px;
    margin-top:20px;
   

  }
.entrada{
 margin-left:390px;
}
.intervalo{
 margin-left:690px;

}
.saida{
 margin-left:990px;

}
.hora{padding-left:84px;}


  @font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 300;
    src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff");
  }

:focus{outline: none;}
.col-form{float: left; width: 27.33%; margin: 40px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.input-form{border: 0; padding: 5px 4px 7px; border: 1px solid transparent; border-bottom-color: #ccc; transition: 0.4s;border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;}
.input-formfocus{padding: 5px 14px 7px; transition: 0.4s;}
.input-form ~ .focus-border{position: absolute; height: 36px; bottom: 0; right: 0; width: 0; transition: 0.4s;}
.input-form:focus ~ .focus-border{width: 100%; transition: 0.4s; border: 2px solid #5fa1db;
  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;}
