* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
.error{
	text-align: left;
	font-style:bold;
	font-size: 17px;
	color:red;
	width: 500px;
padding-top: 80px;
}

.malha{
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
	left: 0;
}

#particle-canvas {
    position: absolute;
    width: 100%;
	height: 100%;
	z-index:2;
  }

/* General */
.container {
	width: 100%;
	height: 100%;
	font-family: Roboto, sans-serif;
    position: absolute;
    background:transparent;
    top: 0;
	z-index:4;
overflow: unset;
    
}

button {
    position: relative;
    float: none;

	width: 160px;
	text-transform: uppercase;
	font-size: 14px;
	background-color: transparent;
}

form {
  position: relative;
  float: none;
	width: 260px;
	height: 360px;
	padding: 20px;
	margin-top: 40%;
	border-radius: 15px;
	-webkit-box-shadow: 6px 9px 15px -1px rgba(0,0,0,0.61);
	-moz-box-shadow: 6px 9px 15px -1px rgba(0,0,0,0.61);
	box-shadow: 6px 9px 15px -1px rgba(0,0,0,0.61);
}

form label, form input {
	display: block;
	opacity: 0;
}

legend {
  position: absolute;
  top: 0;
  left: -10000px;
}

label {
	padding-top: 15px;
	font-size: 14px;
	color: #a1b4b4;
	letter-spacing: 0.5px;
}

input:not([type="submit"]) {
	width: 220px;
	margin: 5px auto;
	padding: 0 15px;
	line-height: 40px;
	font-size: 14px;
	color: #3b4465;
	background: #eef9fe;
	border: 1px solid #cddbef;
	border-radius: 5px;
	-webkit-box-shadow: 1px 9px 12px -11px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 9px 12px -11px rgba(0,0,0,0.8);
	box-shadow: 1px 9px 12px -11px rgba(0,0,0,0.8);
}

input[type="submit"] {
	float: right;
	width: 120px;
	margin-top: 30px;
	line-height: 40px;
	font-size: 18px;
	border-radius: 20px;
}


/* Buttons and Inputs */

.buttons,
.forms {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 550px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	height: 100%;
	left:30%;
	

}

.buttons {
	height: 100%;
	text-align: center;
}



.log-link,
.sign-link {
  cursor: pointer;
}

.log-link.login-button-active,
.sign-link.signup-button-active {
  cursor: default;
}

.login-underline,
.signup-underline {
	position: absolute;
	top: 35px;
	left: 30px;
	height: 2px;
	width: 100px;
	opacity: 0;
}




.login-form input[type="submit"] {
	color: #fbfdff;
	/* background: #a7e245; */
	background: #7d7e83;
	cursor:pointer;
}

.signup-form input[type="submit"] {
	color: #7d7e83;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #7d7e83;
	cursor:pointer;
}

.login-underline.login-button-active {
	animation: loginUnderlineActive .2s linear .1s forwards;
	transform-origin: right;
}

.login-underline.signup-button-active {
	animation: loginUnderlineInactive .3s linear forwards;
	transform-origin: right;
}

.signup-underline.signup-button-active {
	animation: signupUnderlineActive .2s linear .1s forwards;
	transform-origin: left;
}

.signup-underline.login-button-active {
	animation: signupUnderlineInactive .3s linear forwards;
	transform-origin: left;
}

.login-button-active {
  animation: buttonsMoveToRight .3s linear forwards;
}

.signup-button-active {
  animation: buttonsMoveToLeft .3s linear forwards;
}

.login-form.login-button-active label,
.login-form.login-button-active input {
  animation: fielsetSlideToRight .5s linear 0.25s forwards;
}

.signup-form.signup-button-active label,
.signup-form.signup-button-active input {
  animation: fieldsetSlideToLeft .5s linear 0.25s forwards;
}
.login-form {
  animation: loginToBottom .4s linear forwards;
}

.signup-form {
  animation: signUpToBottom .4s linear forwards;
}

.login-form.login-button-active {
  animation: loginToTop .4s linear forwards;
}

.signup-form.signup-button-active {
  animation: signUpToTop .4s linear forwards;
}





/* Animations */


@keyframes buttonsMoveToRight {
	0% {
		transform: translate(0);
	}
  
	100% {
		transform: translate(50px);
	}
}

@keyframes buttonsMoveToLeft {
	0% {
		transform: translate(0);
	}
  
	100% {
		transform: translate(-50px);
	}
}

@keyframes fielsetSlideToRight {
	0% {
		transform: translate(-30px);
		opacity: 0;
	}
  
	100% {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes fieldsetSlideToLeft {
	0% {
		transform: translate(15px);
		opacity: 0;
	}
  
	100% {
		transform: translate(0);
		opacity: 1;
	}
}


@keyframes loginToBottom {
	0% {
		transform: translate(100px);
		z-index: 10;
		background-color: #fff;
	}
  
	49% {
		transform: translate(0);
		z-index: 10;
	}
  
	50% {
		transform: translate(0);
		z-index: 1;
	}
  
	100% {
		transform: translate(100px, 20px);
		z-index: 1;
		background-color: #d7e7f1;
	}
}

@keyframes signUpToBottom {
	0% {
		transform: translate(-100px);
		z-index: 10;
    background-color: #fff;
	}
  
	49% {
		transform: translate(0);
		z-index: 10;
	}
  
	50% {
		transform: translate(0);
		z-index: 1;
	}
  
	100% {
		transform: translate(-140px, 20px);
		z-index: 1;
		height: 350px;
		background-color: #d7e7f1;
	}
}

@keyframes loginToTop {
	0% {
		transform: translate(100px, 20px);
		z-index: 1;
		background-color: #d7e7f1;
	}
  
	49% {
		transform: translate(0);
		z-index: 1;
	}
  
	50% {
		transform: translate(0);
		z-index: 10;
	}
  
	100% {
		transform: translate(100px);
		z-index: 10;
		background-color: #fff;
	}
}

@keyframes signUpToTop {
	0% {
		transform: translate(-100px, 20px);
    z-index: 10;
    height: 100%;
    max-height: 500px;
    background-color: #fff;
		-webkit-box-shadow: -12px 10px 22px -6px rgba(0,0,0,0.72);
		-moz-box-shadow: -12px 10px 22px -6px rgba(0,0,0,0.72);
		box-shadow: -12px 10px 22px -6px rgba(0,0,0,0.72);
	
	}
  

  
	49% {
		transform: translate(0);
		z-index: 10;
	}
  
	50% {
		transform: translate(0);
		z-index: 10;
	}
	100% {
    
		transform: translate(-140px);
		z-index: 10;
    height: 100%;
    max-height: 500px;
		background-color: #fff;
		-webkit-box-shadow: -12px 10px 22px -6px rgba(0,0,0,0.72);
		-moz-box-shadow: -12px 10px 22px -6px rgba(0,0,0,0.72);
		box-shadow: -12px 10px 22px -6px rgba(0,0,0,0.72);
	}
}

  
  
.the-arrow {
  width: 40px;
  transition: all 0.2s;
  
}
.the-arrow.-left {
  position: absolute;
  top: 30%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #000000;
  
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #000000;
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 40px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 10px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #444444;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.1s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #444444;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.1s;
  transition-delay: 0;
  
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #444444;
  font-size: 1.15em;
  font-style: italic;
  transition: all 0.2s;
  height: 30px;
top:52%;
cursor: pointer;
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
position: absolute;
left: 60%;
z-index: 12;

}
.animated-arrow-login{
  display: inline-block;
  color: #444444;
  font-size: 1.15em;
  font-style: italic;
  transition: all 0.2s;
  height: 30px;
top:52%;
cursor: pointer;
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
position: absolute;
left: 8%;
z-index: 12;

}

.animated-arrow:hover {
  color:#7d7e83;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #7d7e83;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #7d7e83;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

/*# sourceMappingURL=teste.css.map */
/* Reset */
