.body-index{
  background-image: url('../img/index-calendar.jpg');
background-repeat: no-repeat;
background-size: cover;
filter:invert(100%) blur(5px) saturate(5);
width: 100%;
height: 100%;

}

.container-login{
    border-radius: 15px;
    border: solid 1px rgb(204, 200, 200);
    box-shadow: 2px 2px 7px black ;
    float: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 260px;
    font-size:28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    width: 27rem;
    background-color: hsl(211, 100%, 20%) ;
    }
   .icon-login{
     background-image: url('../img/calendar-icon.png')
   }

    .titulo-login{
    padding-left: 20px;
    padding-top: 4px;
    font: bold;
    color: whitesmoke;
    size:18px;
    text-align: left;
    
    
    
    }
    .container-login-campos{
    margin: 8px;
    margin-top: 0px;
    
    }
#entrar{
margin-top: 13px;
}
#inputPassword{
  margin-top: 16px;



}
//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    hsl(211, 100%, 20%) !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue!default;
$secondary:     $white!default;     //$gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);


    



    @import '/Users/danielmedeiros/Documents/ProjetosVSC/TotalView/node_modules/bootstrap/scss/bootstrap.scss'

    