<html>

<head>

    <link href="/css/style.css" rel="stylesheet">
    <title></title>
</head>
<script src='/js/jquery-3.3.1.js' type="text/javascript"></script>
<script src='/js/script-registrar.js' type="text/javascript"></script>
<body>
    <div class="body-index"></div>
    <div id="container-form-cadastro" class="container-form-cadastro card-header shadow-lg">
            <img src="/img/arrow-back.png" alt="Voltar" id="seta-voltar" class="seta-voltar"/>

        <label class="registre-se text-right font-weight-bold text-monospace">Registre-se</label>
        <hr/>
        <div id="campos" class="form-row campos">
            <div class="form-group col-md-12">
                <label for="input-Nome" class="text-monospace">Nome:</label>
                <input type="text" class="form-control form-control-lg" id="input-nome" placeholder="Informe seu nome completo">
            </div>
            <div class="form-group col-md-12">
                <label for="input-email" class="text-monospace">E-mail:</label>
                <input type="email" class="form-control form-control-lg" id="input-email" placeholder="Qual é seu e-mail ?">
            </div>
            <div class="form-group col-md-12">
                <label for="input-login" class="text-monospace">Login:</label>
                <input type="text" class="form-control form-control-lg" id="input-login" placeholder="Crie um login!">
            </div>
            <div class="form-group col-md-6">
                <label for="nput-senha" class="text-monospace">Senha:</label>
                <input type="password" class="form-control form-control-lg" id="input-senha" placeholder="Sua senha aqui!">
            </div>
            <div class="form-group col-md-6">
                <label for="input-resenha" class="text-monospace">Repetir senha:</label>
                <input type="password" class="form-control form-control-lg" id="input-resenha" placeholder="Repetir a senha.">
            </div>
            <div class="form-group col-md-12">

                <button type="button" id="cadastrar" class="btn btn-primary btn-lg btn-block ">Cadastrar</button>
            </div>

        </div>

    </div>
</body>

</html>