<link href="/css/ocorrencia.css" rel="stylesheet" />
<div id="config" class="config">
    <div id="containerConfig" class="box">
        <div class="container-options">
            <span class="title-menu">Registro de Ponto: </span>

        </div>
    </div>
</div>