<link href="/css/ponto.css" rel="stylesheet" />
<script src='/js/script-registro-ponto.js' type="text/javascript"></script>

<div id="containerConfig" class="box">

    <div class="container-options">
        <span class="title-menu">Registro de Ponto </span>
        <label class="title-menu-item entrada" id="entrada">Chegada:</label>
        <span class="title-menu-item entrada hora" id="id-hora-inicio"></span>
        <label class="title-menu-item intervalo" id="intervalo">Intervalo:</label>
        <label class="title-menu-item saida" id="saida">Saida:</label>
        <input type="submit" value="Registrar Ponto" class="registro" id="registrar">
    </div>
</div>