<link href="/css/config.css" rel="stylesheet" />
<script src='/js/script-config.js' type="text/javascript"></script>
<div id="config" class="config">
    <div id="containerConfig" class="container">
        <div class="container-options" >
            <a href="#" class="badge badge-Secondary badge-pill">Usuário</a>    
            <a href="#" class="badge badge-primary badge-pill">Setor</a>    
            <a href="#" class="badge badge-primary badge-pill">Cargo</a>    
            <a href="#" class="badge badge-primary badge-pill">Filial</a>    
            <a href="#" class="badge badge-primary badge-pill">Jornada</a>    


                </div>
        
<div class="side-nav">



        <nav class="config-menu">
            <ul>
                <li>
                    <a href="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="nav-text">

                            Calendário
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-exchange fa-2x"></i>
                        <span class="nav-text">
                            Solicitar troca
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-check-square-o fa-2x"></i>
                        <span class="nav-text">
                            Solicitar folga
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog fa-2x"></i>
                        <span class="nav-text">
                            Configuração
                        </span>
                    </a>
                </li>


            </ul>

            <ul class="logout">
                <li>
                    <a href="/logoff">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text" id="logout">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>

</div>