<link href="/css/config.css" rel="stylesheet" />
<script src='/js/script-config.js' type="text/javascript"></script>
<div id="config" class="config">
    <div id="containerConfig" class="container">
        <div class="container-options" >
            <span class="title-menu">Cadastros: </span>
            <a href="#" class="badge badge-Secondary badge-pill">Usuário</a>    
            <a href="#" class="badge badge-primary badge-pill">Setor</a>    
            <a href="#" class="badge badge-primary badge-pill">Cargo</a>    
            <a href="#" class="badge badge-primary badge-pill">Filial</a>    
            <a href="#" class="badge badge-primary badge-pill">Jornada</a>    


                </div>
        
<div class="side-nav">



        <nav class="config-menu">
            <ul>
                <li>
                    <a href="">
                        <i class="fa fa-pencil-square-o"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                

            </ul>

        </nav>
    </div>
    </div>

</div>