<html>

<head>
    
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <title></title>
</head>

<body>


    <div class="container-login" style="width: 22rem;">
        <div class="card-header titulo-login">TotalView</div>
        <div class="md-form container-login-campos">
            <div>
                <br>
                <input type="text" class="form-control indigo-darken-4" id="inputLogin" placeholder="login" />
                <br>
                <input type="password" id="inputPassword" class="form-control indigo-darken-4" placeholder="senha" />
<button>sakvar</button>
            </div>
            <div>

            </div>
        </div>
    </div>
</body>

</html>
