<html>

<head>
    
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <title></title>
</head>

<body >
        <div class="body-index" ></div>

    <div class="container-login">
        <div class="card-header titulo-login">TotalView</div>
        <div class="container-login-campos">
            <div>
                <input type="text" class="form-control form-control-lg" id="inputLogin" placeholder="login" />
                <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="senha" />
                <button type="button" id="entrar" class="btn btn-success  btn-lg btn-block ">Entrar</button>

            </div>

            
                    
            </div>
        </div>
    </div>
</body>

</html>
