<link href="/css/login.css" rel="stylesheet" />

<script src='/js/jquery-3.3.1.js' type="text/javascript"></script>

<body>
	<div class="malha"></div>
	<div id="particle-canvas"></div>

	<div class=container>


		<main>

			<div class="buttons " data-action="animated">
			</div>
			<div class="forms">
							<span class='animated-arrow-login '   id="voltar-login">Voltar para o Login.</span>

				<form class="login-form login-button-active" method="post" data-action="animated" id='login'>
					<fieldset>
						<label for="inputLogin">E-mail</label>
						<input id="inputLogin" type="text" name="user" required>
						<label for="inputPassword">Senha</label>
						<input id="inputPassword" type="password" name="password" required>
						
					</fieldset>
					
					<input type="submit" value="Entrar" id="entrar"/>
	
	<div id='error' class='error'>
					
				</div>
			
				</form>
				
				<form class="signup-form "  method="post" data-action="animated" id="form-singUp">
					<fieldset>
						<legend>Please, enter your email, password and password confirmation for sign up.</legend>
						<label for="input-nome">Nome:</label>
						<input type="text"  id="input-nome" required>
						<label for="input-cpf">Cpf:</label>
						<input type="text" id="input-cpf"required>
						<label for="input-email">Email:</label>
						<input id="input-email" type="email" name="email" required>
						<label for="input-senha">Password</label>
						<input id="input-senha" type="password" name="password" required>
						<label for="input-resenha">Confirm password</label>
						<input id="input-resenha" type="password" name="password" required>
					</fieldset>
				
					<input type="submit" value="Registrar" id="cadastrar">
				<div id='errorCadastro' class='error'>
				
				</div>

				</form>
				<span class='animated-arrow '  style='display:none' id="sing">Faça seu cadastro!</span>
			</div>
		</main>

	</div>
</body>
<script src='/js/particles.min.js' type="text/javascript"></script>
<script src='/js/script-login.js' type="text/javascript"></script>