<div class="profile-card">
    <div class="profile-cover">
        <div class="profile-avatar">

            <img src="https://dl.dropboxusercontent.com/s/7pcnqq18skh1myk/avatar.jpg" alt="Anis M" />
        </div>

        <div class="profile-details">

            <h1>
           


                    <%= user.nome %>
                    
            </h1>
            <h6><%= user.email %></h6>
        </div>

        <div class="profile-content">
            <ul>
                <li>
                    <div class="digits">83</div>
                    Dias Trabalhados / mes
                </li>
                <li>
                    <div class="digits">32</div>
                    Horas Trabalhadas / semana
                </li>
                <li>
                    <div class="digits">25/12/2018 </div>
                    Próxima Folga
                </li>
                <li>
                    <div class="digits">2</div>
                    Faltas Justificadas
                </li>
                <li>
                    <div class="digits">1</div>
                    Faltas
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>