<div class="content" >
    <table class="table table-sm table-striped table-bordered " >
        <thead>
            <tr class="thead-dark">
                <th scope="col" class="text-center">Horários</th>
                <th scope="col"class="text-center">Domingo</th>
                <th scope="col"class="text-center">Segunda-feira</th>
                <th scope="col"class="text-center">Terça-feira</th>
                <th scope="col"class="text-center">Quarta-feira</th>
                <th scope="col"class="text-center">Quinta-feira</th>
                <th scope="col"class="text-center">Sexta-feira</th>
                <th scope="col"class="text-center">Sabado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-center table-secondary">Chegada</th>
                <td class="text-center table-success">Folga</td>
                <td class="text-center table-danger">Falta</td>
                <td class="text-center table-info">08:00</td>
                <td class="text-center table-info">08:00</td>
                <td class="text-center table-info">08:00</td>
                <td class="text-center table-info">08:00</td>
                <td class="text-center table-success">Folga</td>
            </tr>
            <tr>
                    <th scope="row" class="text-center table-secondary">Almoço</th>
                    <td class="text-center table-success">Folga</td>
                    <td class="text-center table-danger">Falta</td>
                    <td class="text-center table-info">12:00 ás 14:00</td>
                    <td class="text-center table-info">12:00 ás 14:00</td>
                    <td class="text-center table-info">12:00 ás 14:00</td>
                    <td class="text-center table-info">12:00 ás 14:00</td>
                    <td class="text-center table-success">Folga</td>
            </tr>
            <tr>
                    <th scope="row" class="text-center table-secondary">Saída</th>
                    <td class="text-center table-success">Folga</td>
                    <td class="text-center table-danger">Falta</td>
                    <td class="text-center table-info">18:00</td>
                    <td class="text-center table-info">18:00</td>
                    <td class="text-center bg-warning">18:00 (17:30)</td>
                    <td class="text-center">18:00</td>
                    <td class="text-center table-success">Folga</td>
            </tr>
        </tbody>
    </table>

</div>